<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <!-- Permissions for internet and Bluetooth -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Permission for camera access -->
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_idrated"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_idrated"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDrated"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- GoalActivity -->
        <activity
            android:name=".GoalActivity"
            android:exported="true" />
        <activity
            android:name=".WaterInputActivity"
            android:exported="true" /> <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Terms and Conditions Activity -->
        <activity
            android:name=".TandCActivity"
            android:exported="false" /> <!-- OnboardingActivity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            tools:ignore="IntentFilterExportedReceiver" /> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="true" />
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />
    </application>


</manifest>